html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  height: 100%;
}

nav {
  background-color: #383e4c;
  height: 80px;
  padding-top: 1%;
  padding-bottom: 1.5%;
  // text-align: center;
  width: 100%;
}

nav ul {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  // height: 60px;
  text-align: center;
  width: 100%;
  position: absolute;
  padding: 0;
  margin-top: 5px;
}

#navOption {
  padding: 15px;
  margin: 1%;
  background-color: #383e4c;
  color: white;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  border: 1px white solid;
  list-style: none;
}

#navOption:hover {
  background-color: #474f61;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
  text-decoration: none;
}

.wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

/* Section About Us */
/* Row One */

.rowOne {
  background-image: url("../img/adventure-clouds-dog.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 60%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  padding-top: 15%;
}

.rowOne h1 {
  font-size: 5em;
  margin-bottom: 0;
}

.rowOne h3 {
  font-size: 1.5em;
  margin-top: 0;
}

.rowTwo,
.rowThree {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

/* Row Two */

.rowTwo div {
  width: 30%;
  background-color: #f2f2f2;
}

.greenText {
  color: #178a27;
}

.greenButton {
  background-color: #178a27;
}

.greenButton:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.blueText {
  color: #1686c1;
}

.blueButton {
  background-color: #1686c1;
}

.blueButton:hover {
  background-color: blue;
  cursor: pointer;
}

.greyText {
  color: grey;
}

.redButton {
  background-color: #c9302c;
}

.redButton:hover {
  background-color: red;
  cursor: pointer;
}

.rowTwo div img,
.rowThree div img {
  width: 100%;
  height: 30%;
}

.rowTwo div h3 {
  margin: 5%;
  text-align: left;
  font-size: 1.6em;
}

.rowTwo div p,
.rowThree div p {
  margin: 5%;
  text-align: left;
  letter-spacing: 1px;
  color: #16111c;
}

.rowTwo div button {
  height: 2.3em;
  font-size: 1.2em;
  width: 8em;
  color: white;
  border-radius: 5px;
  margin: 5% -50px;
  position: relative;
  left: 45%;
}

/* Row Three */
.rowThree div {
  width: 45%;
  background-color: #f2f2f2;
}

.rowThree div h3 {
  margin: 5%;
  text-align: center;
  font-size: 1.6em;
  color: grey;
}

.rowThree div button {
  height: 2.3em;
  font-size: 1.2em;
  width: 8em;
  color: grey;
  border-radius: 5px;
  margin: 2% -50px 5% -50px;
  position: relative;
  left: 65%;
}

.rowThree div button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

/* Our services section */
/* part one */

.partOne {
  background-image: url("../img/aerial-shot-bird-s-eye-view-bridge-1590190.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  margin-top: 5%;
}

.partOne h2 {
  font-size: 2em;
  letter-spacing: 1px;
  padding-top: 10%;
}

.partOne p {
  margin: 0 25%;
  font-size: 1.2em;
}

.partTwo {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.partTwo div {
  width: 23%;
  background-color: #f2f2f2;
}

.partTwo div img {
  width: 100%;
  height: 35%;
}

.partTwo div h3 {
  text-align: center;
}

.partTwo div p {
  margin: 5%;
}

.partTwo div button {
  height: 2.3em;
  font-size: 1.2em;
  width: 6em;
  color: grey;
  border-radius: 10px;
  margin: 10% 27%;
}

.partTwo div button:hover {
  background-color: lightgray;
  color: #00003f;
  cursor: pointer;
}

.partThree {
  margin-top: 5%;
  background-color: #f2f2f2;
}

.partThree img {
  width: 100%;
}

.partThree h3,
.partThree p {
  margin-left: 5%;
  margin-right: 5%;
}

.partThree button {
  height: 3em;
  font-size: 1.2em;
  width: 9em;
  color: grey;
  border-radius: 10px;
  margin: 2% 5%;
}

.partThree button:hover {
  background-color: lightgray;
  color: #00003f;
  cursor: pointer;
}

.contact {
  margin-top: 5%;
  background-image: url("../img/beach-daylight-foam-2526960.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
}

.contact div {
  top: 17%;
  position: relative;
  height: 100%;
}

.topForm,
.bottomForm {
  margin-left: 25%;
  margin-right: 25%;
}

.topForm h2 {
  font-size: 2.5em;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
  letter-spacing: 1px;
}

.topForm p {
  text-align: center;
  background-color: rgba(246, 246, 246, 0.4);
  height: 5%;
  padding: 7% 15%;
  border-radius: 10px;
}

.bottomForm {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 9em;
}

.formLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.formRight {
  width: 50%;
}

.formLeft input {
  border: none;
  background-color: rgba(246, 246, 246, 0.4);
  // margin-bottom: 4.3%;
  height: 3em;
  border-radius: 5px;
  width: 95%;
  padding-left: 3%;
}

.formRight textarea {
  width: 100%;
  border: none;
  background-color: rgba(246, 246, 246, 0.4);
  height: 95%;
  margin-bottom: 5%;
  border-radius: 5px;
  padding-left: 3%;
  padding-top: 1%;
}

::placeholder {
  color: black;
}

.formRight button {
  height: 2.5em;
  width: 5.5em;
  border-radius: 5px;
  font-size: 1.1em;
  border-color: white;
  color: white;
  background-color: #262628;
}

.formRight button:hover {
  background-color: white;
  color: #262628;
  border-color: #262628;
  cursor: pointer;
}

// Footer
footer {
  text-align: center;
  // margin-top: 5%;
}

.topFooter {
  font-style: italic;
  max-width: 30%;
  margin: 5% auto;
  color: #999;
}

.topFooter h2 {
  letter-spacing: 1px;
  font-size: 2em;
}

.bottomFooter {
  font-size: 0.7em;
  margin-top: 2%;
  margin-bottom: 10%;
  color: #666666;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
